.features {
  padding: 40px 20px;
  text-align: center;
  background: #161616;
  color: $text-color;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color:$secondary-color;
  }

  .features-grid {
    display: grid;
    margin: 0 10%;;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;

    .feature-card {

      background: $background-dark;
      background: linear-gradient(135deg, $background-dark, $background-light);

      padding: 20%;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background 300ms;
      h3 {
        margin-bottom: 10px;
        font-size: 20px;
        color: $primary-color;
      }

      p {
        color: $p-color;
      }
    }
    .feature-card:hover{
      background: linear-gradient(135deg, $background-light, $background-dark);
      cursor: pointer;
      h3{
        color: $secondary-color;
      }
      p{
        color: $text-color;
      }
    }
  }
}
