.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #fff;

  .footer-link {
    color: $secondary-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
