body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $background-dark;
  color: $text-color;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
