.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: $background-dark;
  color: $text-color;
  flex-shrink: 0; /* Mantiene su tamaño, no se encoge */

  .logo {
    font-size: 24px;
    img{
      height: 35px;
    }
  }

  .nav-link {
    margin: 0 10px;
    color: $text-color;

    &:hover {
      color: $button-color;
    }
  }
  
}
