.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: $background-dark;
  color: $text-color;

  .logo {
    font-size: 24px;
    img{
      height: 35px;
    }
  }

  .nav-link {
    margin: 0 10px;
    color: $text-color;

    &:hover {
      color: $button-color;
    }
  }
}
